[submodule "cognitive_robot_abstract_machine"]
	path = cognitive_robot_abstract_machine
	url = https://github.com/yxzhan/cognitive_robot_abstract_machine.git
[submodule "assets/stretch_urdf"]
	path = assets/stretch_urdf
	url = https://github.com/hello-robot/stretch_urdf
[submodule "assets/franka_ros"]
	path = assets/franka_ros
	url = https://github.com/frankarobotics/franka_ros.git
[submodule "assets/garmi_description"]
	path = assets/garmi_description
	url = https://github.com/geriatronics/garmi_description.git
